/*font setup*/

@font-face {
    font-family: TitleFont;
    src: url(JosefinSans-Italic-VariableFont_wght.ttf);
    src: url(JosefinSans-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
  font-family: MainFont;
  src: url(VarelaRound-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: Font2;
  src: url(Rubik-VariableFont_wght.ttf);
}

/*Setup*/
body{
    margin: 0%;
}
  
/*header*/

header{
  background-color: #B7C4CF;
  width: 100%;
}

header h1{
    font-family: Font2;
    padding-left: 100px;
    background-color: #99C4C8;
    color: white;
    height: 80px;
    margin-top: 0%;
    padding-top: 20px;
    margin: 0%;
}
nav h1{
  font-family: TitleFont;
  padding-left: 100px;
  background-color: #76BA99;
  color: white;
  height: 80px;
  margin-top: 0%;
  padding-top: 20px;
  margin: 0%;
}

header img {
  position: absolute;
    height: 100px;
    width: 100px;
}


/*nav bar formatting*/
nav {
    background-color:#EEEEEE;
    color: #967E76;
    text-decoration: none;
    font-family: MainFont;
    font-weight:1000;
    /*sticky position used to position nav bar*/
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 100%;
    margin: 0%;
    height: 60px;
    z-index: 999;
}
nav ol {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    height: 35px;
    justify-content: space-evenly; 
  }
  li {
  
    text-align: center;
    word-spacing: 100px;
    
  }
  /*Styling of nav bar content*/
  li a {
    color: #967450;
    text-decoration: none;
  }
  li a:hover {
    background-color: #876445;
    color: white;
  }
  /*Hover effect - responsive to mouse*/
  nav li {
    list-style: none;
}

/* use of flexbox*/

/*styling of home page content*/

main{
  font-family: Font2;
}

.content{
  color: white;
  width: 100%;
  font-size:x-large;
  text-align: center;
  box-sizing: border-box; /*tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark color background with 0.5 opacity */
  color: #f1f1f1; 
  width: 100%;
  padding: 10%;
  height: 100%;
}

.Img1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 10;
}

.Img1 img{
  width: 100%;
  
}

.Text1{
  margin: 5%;

}
.Text1 h2{
  color: #76BA99;
}

.Img2 img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding-left: 5%;
  position: absolute;
  padding-top: 50px;
  display: flex;
}

.Img2{
  background-color:#99C4C8;
  height: 250px;
  max-width: 100%;
  display: flex;
}
.Img2 img{
  float: left;
}
.Img2 h4{
  float: right;
  padding-left: 50%;
}

h6{
  font-size: medium;
  background-color: #76BA99;
  text-align: center;
  width: 50%;
}

.Recipes img{
  display: flex;
  width: 20%;
  height: auto;
}





















